<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/default.css" />
    <!-- 导入样式 -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <!-- 导入 Vue 3 -->
    <script src="//unpkg.com/vue@next"></script>
    <!-- 导入组件库 -->
    <script src="//unpkg.com/element-plus"></script>
    <script src="../js/axios.js"></script>
    <style>
      .contents {
        width: 100vw;
        margin: 2% auto 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .block {
          display: flex;
          align-items: center;
          justify-content: center;
        height: 8vh;
      }
      .itemTitle {
        margin: 2% 3%;
        font-size: 20px;
      }
      .item{
        margin-top: 8%;
      }
      .tiger{
        width: 55vw;
        position: absolute;
        top: 39px;
        left: 43%;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <!-- header -->
      <div class="headerBack">
        <div class="header">
            <img :src="titleImageUrl" style="width: 100%"/>
        </div>
        <div class="back clickEffict" @click="back">
          <svg t="1643341012348" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2048" width="32" height="32"><path d="M710.153924 8.980397L266.007127 460.692524a81.118646 81.118646 0 0 0 0.861532 114.476097l446.192936 441.050666a26.922883 26.922883 0 0 0 37.853573-38.284339L304.722232 536.884282a27.27288 27.27288 0 0 1-0.323074-38.445877L748.545955 46.726278A26.922883 26.922883 0 1 0 710.180847 9.00732z" p-id="2049" fill="#1296db"></path></svg>
        </div>
      </div>
      <!-- 展示区 -->
      <div class="contents">
        <div class="item" v-for="(item,index,id) in media" :key="id">
          <div class="itemTitle" :title="item.title">{{item.title}}</div>
          <div  class="videoFather">
            <a :href="item.url" target="_blank"
              ><img
                style="width: 90%"
                :src="item.url"
                v-if="item.type === 'image' "
            /></a>
          </div>
          <div class="videoFather">
            <video
              class="videoSize"
              v-if="item.type === 'video' "
              :src="item.url"
              controls
            ></video>
          </div>
          <!-- 点赞 -->
          <div class="agree">
            <div >
              <img
                :id="item.id"
                style="width: 20px; height: 20px; cursor: pointer"
                @click="zan($event)"
                :src="item.clickSrc"
              />
            </div>
            <div style="margin-left: 5px;" :id="item.clickId">{{item.likeNum}}</div>
          </div>
        </div>
      </div>
      <div class="block">
        <el-pagination
          layout="prev, pager, next"
          :total="totalCount"
          @current-change="handleCurrentChange"
        >
        </el-pagination>
      </div>
    </div>
    <script type="module">
      import  {baseUrl, ifJumpTo} from "../js/config.js";
      let lang = sessionStorage.getItem("lang"); if (lang == null) {
                lang = "zh";
              }
      const App = {
        data() {
          return {
            media: "",
            currentPage: 1,
            pageSize: 12,
            totalCount: 1,
            mainTitle: "",
            subTitle: "",
            titleImageUrl: "",
          };
        },
        created() {
          this.getData();
          ifJumpTo(window.location.pathname+window.location.search);
        },
        methods: {
          getData(n1, n2) {
            let url =
              baseUrl +
              "activity.php?action=getGuessContent&pageSize=" +
              n1 +
              "&currentPage=" +
              n2;
            axios.get(url).then((res) => {
              if (lang == null) {
                lang = "zh";
              }
              this.totalCount = res.data.mediaTotalCount;
              document.title = res.data[lang].title;
              this.mainTitle = res.data[lang].mainTitle;
              this.subTitle = res.data[lang].subTitle;
              this.titleImageUrl = res.data.mobile.titleImageUrl;
              let media = res.data.media;
              let now = new Date();
              let today =
                now.getFullYear() +
                "-" +
                (now.getMonth() + 1) +
                "-" +
                now.getDate();

              for (let i = 0; i < media.length; i++) {
                let date = localStorage.getItem("media_" + media[i].id);
                if (date && date == today) {
                  media[i].clickSrc = "../img/zanClicked.svg";
                } else {
                  media[i].clickSrc = "../img/zan.svg";
                }
                media[i].clickId = "click_" + media[i].id;
              }
              this.media = media;
            });
          },
          back() {
            window.history.back();
          },
          handleCurrentChange(val) {
            this.currentPage = val;
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0
            this.getData(this.pageSize, val);
          },
          zan(e) {
            let url = baseUrl + "media.php";
            let data = {
              action: "clickLike",
              mediaId: e.srcElement.id,
            };
            axios.post(url, data).then((res) => {
              let now = new Date();
              let today =
                now.getFullYear() +
                "-" +
                (now.getMonth() + 1) +
                "-" +
                now.getDate();
              localStorage.setItem("media_" + e.srcElement.id, today);
              document.querySelector("#click_" + e.srcElement.id).innerHTML =
                res.data.likeNum;

              let media = this.media;
              for (let i = 0; i < media.length; i++) {
                let date = localStorage.getItem("media_" + media[i].id);
                if (date && date == today) {
                  media[i].clickSrc = "../img/zanClicked.svg";
                } else {
                  media[i].clickSrc = "../img/zan.svg";
                }
                media[i].clickId = "click_" + media[i].id;
                if (e.srcElement.id == media[i].id) {
                  media[i].likeNum = res.data.likeNum;
                }
              }
              this.media = media;
            });
            e.srcElement.src = "../img/zanClicked.svg";
          },
        },
      };
      const app = Vue.createApp(App);
      app.use(ElementPlus);
      app.mount("#app");
    </script>
  </body>
</html>
