<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <link rel="stylesheet" href="../css/common.css" />
  <link rel="stylesheet" href="../css/default.css" />
  <!-- 导入样式 -->
  <link rel="stylesheet" href="../css/element.css" />
  <!-- 导入 Vue 3 -->
  <script src="../js/Vue.js"></script>
  <!-- 导入组件库 -->
  <script src="../js/elementUI.js"></script>
  <script src="../js/axios.js"></script>
  <style>
    .contents {
      width: 100vw;
      margin: 2% auto 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .block {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 8vh;
    }

    .item {
      margin-top: 8%;
    }

    .tiger {
      width: 55vw;
      position: absolute;
      top: 39px;
      left: 43%;
    }
      /* 
    
    
    */
    .changeCard {
        width: 100vw;
        height: 5vh;
        margin: 0 auto;
        display: flex;
      }

      .changeFather {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 5vh;
        display: flex;
      }

      .itemTitle {
        width: 100%;
        height: 65px;
      }


    /*  */
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <!-- header -->
    <div class="headerBack">
      <div class="header">
        <img :src="titleImageUrl" style="width: 100%" />
      </div>
      <div class="back clickEffict" @click="back">
        <img src="../asset/back.png" style="width:80%">
      </div>
    </div>
    <!-- 展示区 -->
    <div class="contents">
          <!-- 选项卡 -->
          <div class="changeCard">
            <div
              class="itemTitle"
              v-for="(item, index) in schoolList"
              :key="index"
            >
              <img
                ref="ImgWord"
                style="width: 100%"
                :src="item.schoolName"
                @click="test(item.schoolId,item.schoolNameAlive,index)"
              />
            </div>
          </div>
          <!--  -->
      <div class="item" v-for="(item,index,id) in media" :key="id">
        <!-- <div class="itemTitle" :title="item.title">{{item.title}}</div> -->
        <div class="videoFather">
          <a :href="item.url" target="_blank"><img style="width: 90%" :src="item.url"
              v-if="item.type === 'image' " /></a>
        </div>
        <div class="videoFather">
          <video class="videoSize" v-if="item.type === 'video' " :src="item.url" controls></video>
        </div>
        <!-- 点赞 -->
        <div class="agree">
          <div>
            <img :id="item.id" style="width: 20px; height: 20px; cursor: pointer" @click="zan($event)"
              :src="item.clickSrc" />
          </div>
          <div style="margin-left: 5px;" :id="item.clickId">{{item.likeNum}}</div>
        </div>
      </div>
    </div>
    <!-- <div class="block">
      <el-pagination layout="prev, pager, next" :total="totalCount" @current-change="handleCurrentChange"
        :page-count="mediaTotalPage">
      </el-pagination>
    </div> -->
  </div>
  <script type="module">
    import { baseUrl, ifJumpTo, maxClickTimesInOneDay, maxClickTimesMsg } from "../js/config.js";
    let lang = sessionStorage.getItem("lang"); 
    if (lang == null || lang == "null") {
      lang = "zh";
    }
    const App = {
      data() {
        return {
          media: "",
          currentPage: 1,
          pageSize: 1000,
          totalCount: 1,
          mainTitle: "",
          subTitle: "",
          titleImageUrl: "",
          mediaTotalPage: 0,
          schoolList: [
              {
                schoolName: "../img/a2.png",
                schoolNameAlive: "../img/a1.png",
                schoolId: 1,
              },
              {
                schoolName: "../img/b2.png",
                schoolNameAlive: "../img/b1.png",
                schoolId: 2,
              },
              {
                schoolName: "../img/c2.png",
                schoolNameAlive: "../img/c1.png",
                schoolId: 3,
              },
            ],
        };
      },
      created() {
        this.getData(1);
        // this.getData1()
        ifJumpTo(window.location.pathname + window.location.search);
      },
      methods: {
        getData(schoolId) {
          let url =
            baseUrl +
            "activity.php?action=getVideoContent&pageSize=" +
            this.pageSize +
            "&currentPage=" +
            +this.currentPage+"&schoolId="+schoolId;
          axios.get(url).then((res) => {
            if (lang == null || lang == "null") {
              lang = "zh";
            }
            this.totalCount = res.data.mediaTotalCount;
            document.title = res.data[lang].title;
            this.mainTitle = res.data[lang].mainTitle;
            this.subTitle = res.data[lang].subTitle;
            this.titleImageUrl = res.data.mobile.titleImageUrl;
            this.mediaTotalPage = res.data.mediaTotalPage;
            let media = res.data.media;
            let now = new Date();
            let today =
              now.getFullYear() +
              "-" +
              (now.getMonth() + 1) +
              "-" +
              now.getDate();

            for (let i = 0; i < media.length; i++) {
              let clickedTimesToday = localStorage.getItem("media_" + media[i].id + "_" + today);
              if (clickedTimesToday == null) {
                media[i].clickSrc = "../img/zan.svg";
              } else if (parseInt(clickedTimesToday) != NaN) {
                media[i].clickSrc = "../img/zanClicked.svg";
              } else {
                media[i].clickSrc = "../img/zan.svg";
              }
              media[i].clickId = "click_" + media[i].id;
            }
            this.media = media;
          });
        },
        back() {
          window.history.back();
        },
        handleCurrentChange(val) {
          this.currentPage = val;
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0
          this.getData(this.pageSize, val);
        },
        getData1() {
          let url = "http://2022.scxhlz.com/api/activity.php?action=getSchools"
          axios.get(url).then((res) => {
            this.schoolList = res.data.data;
          })

        },
        test(schoolId, index) {
          this.getData(schoolId)
          const ImgWord = this.$refs.ImgWord
          for (let i = 0; i < ImgWord.length; i++) {
            ImgWord[i].style.color = "white"

          }
          ImgWord[index].style.color = 'grey';
        },
        Imge1(){
          
        },
        zan(e) {
          let now = new Date();
          let today =
            now.getFullYear() +
            "-" +
            (now.getMonth() + 1) +
            "-" +
            now.getDate();
          let mediaId = e.srcElement.id;
          let clickedTimesToday = localStorage.getItem("media_" + mediaId + "_" + today);
          if (clickedTimesToday == null || parseInt(clickedTimesToday) == NaN) {
            localStorage.setItem("media_" + mediaId + "_" + today, 1);
          } else if (parseInt(clickedTimesToday) >= maxClickTimesInOneDay) {
            alert(maxClickTimesMsg);
            return;
          } else {
            clickedTimesToday++;
            localStorage.setItem("media_" + mediaId + "_" + today, clickedTimesToday);
          }
          let url = baseUrl + "media.php";
          let data = {
            action: "clickLike",
            mediaId: e.srcElement.id,
          };
          axios.post(url, data).then((res) => {
            document.querySelector("#click_" + e.srcElement.id).innerHTML =
              res.data.likeNum;
            let media = this.media;
            for (let i = 0; i < media.length; i++) {
              let clickedTimesToday = localStorage.getItem("media_" + media[i].id + "_" + today);
              if (clickedTimesToday == null) {
                media[i].clickSrc = "../img/zan.svg";
              } else if (parseInt(clickedTimesToday) != NaN) {
                media[i].clickSrc = "../img/zanClicked.svg";
              } else {
                media[i].clickSrc = "../img/zan.svg";
              }
              media[i].clickId = "click_" + media[i].id;
              if (e.srcElement.id == media[i].id) {
                media[i].likeNum = res.data.likeNum;
              }
            }
            this.media = media;
          });
          e.srcElement.src = "../img/zanClicked.svg";
        },
        test(schoolId, schoolNameAlive,index) {
            this.getData(schoolId);
            const ImgWord = this.$refs.ImgWord;
            for (let i = 0; i < this.schoolList.length; i++) {
              for (let i = 0; i < ImgWord.length; i++) {
                ImgWord[i].src = this.schoolList[i].schoolName;
              }
            }
            ImgWord[index].src = schoolNameAlive;
          },
      },
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
  </script>
</body>

</html>