<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/default.css" />
    <!-- 导入样式 -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <!-- 导入 Vue 3 -->
    <script src="//unpkg.com/vue@next"></script>
    <!-- 导入组件库 -->
    <script src="//unpkg.com/element-plus"></script>
    <script src="../js/axios.js"></script>
    <style>
      .contents {
        width: 1400px;
        height: 900px;
        margin: 2% auto 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .block {
        height: 80px;
        text-align: center;
      }
      .agree {
        width: 100%;
        margin-top: 3%;
        height: 20px;
        display: flex;
        justify-content: center;
        color: #99a2aa;
      }
      .itemTitle {
        width: 100%;
        height: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <!-- header -->
      <div class="headerBack">
        <div class="header">
          <div class="title">
            <img :src="titleImageUrl" style="width: 80%" />
          </div>
          <div class="back clickEffict" @click="back"></div>
        </div>
      </div>
      <!-- 画册区 -->
      <div class="contents">
        <div
          style="width: 340px; height: 300px"
          v-for="(item,index,id) in media"
          :key="id"
        >
          <div class="itemTitle" :title="item.title">{{item.title}}</div>
          <a :href="item.url" target="_blank"
            ><img
              style="width: 340px; height: 192px"
              :src="item.url"
              v-if="item.type === 'image' "
          /></a>
          <div>
            <video
              v-if="item.type === 'video' "
              :src="item.url"
              style="width: 100%; height: 90%"
              controls
            ></video>
          </div>
          <!-- 点赞 -->
          <div class="agree">
            <img
              :id="item.id"
              style="width: 20px; height: 20px; cursor: pointer;"
              @click="zan($event)"
              :src="item.clickSrc"
            />
            &nbsp;
            <div :id="item.clickId">{{item.likeNum}}</div>
          </div>
        </div>
      </div>
      <div class="block">
        <el-pagination
          layout="prev, pager, next"
          :total="totalCount"
          
          @current-change="handleCurrentChange"
        >
        </el-pagination>
      </div>
    </div>
    <script type="module">
      import { baseUrl } from "../js/config.js";
      let lang = sessionStorage.getItem("lang");
      const App = {
        data() {
          return {
            media: [],
            currentPage: 1,
            pageSize: 12,
            totalCount: 1,
            mainTitle: "",
            subTitle: "",
            titleImageUrl: "",
          };
        },

        created() {
          this.getData();
        },
        methods: {
          getData(n1, n2) {
            let url =
              baseUrl +
              "activity.php?action=getPartyContent&pageSize=" +
              n1 +
              "&currentPage=" +
              n2;
            axios.get(url).then((res) => {
              console.log(res.data);
              this.totalCount = res.data.mediaTotalCount;
              document.title = res.data[lang].title;
              this.mainTitle = res.data[lang].mainTitle;
              this.subTitle = res.data[lang].subTitle;
              this.titleImageUrl = res.data.titleImageUrl;
              let media = res.data.media;
              let now = new Date();
              let today =
                now.getFullYear() +
                "-" +
                (now.getMonth() + 1) +
                "-" +
                now.getDate();

              for (let i = 0; i < media.length; i++) {
                let date = localStorage.getItem("media_" + media[i].id);
                if (date && date == today) {
                  media[i].clickSrc = "../img/zanClicked.svg";
                } else {
                  media[i].clickSrc = "../img/zan.svg";
                }
                media[i].clickId = "click_" + media[i].id;
              }
              this.media = media;
            });
          },
          back() {
            window.history.back();
          },
          handleCurrentChange(val) {
            this.currentPage = val;
            this.getData(this.pageSize, val);
          },
          zan(e) {
            let url = baseUrl + "media.php";
            let data = {
              action: "clickLike",
              mediaId: e.srcElement.id,
            };
            axios.post(url, data).then((res) => {
              let now = new Date();
              let today =
                now.getFullYear() +
                "-" +
                (now.getMonth() + 1) +
                "-" +
                now.getDate();
              localStorage.setItem("media_" + e.srcElement.id, today);
              document.querySelector("#click_" + e.srcElement.id).innerHTML =
                res.data.likeNum;

              let media = this.media;
              for (let i = 0; i < media.length; i++) {
                let date = localStorage.getItem("media_" + media[i].id);
                if (date && date == today) {
                  media[i].clickSrc = "../img/zanClicked.svg";
                } else {
                  media[i].clickSrc = "../img/zan.svg";
                }
                media[i].clickId = "click_" + media[i].id;
                if (e.srcElement.id == media[i].id) {
                  media[i].likeNum = res.data.likeNum;
                }
              }
              this.media = media;
            });
            e.srcElement.src = "../img/zanClicked.svg";
          },
        },
      };

      const app = Vue.createApp(App);
      app.use(ElementPlus);
      app.mount("#app");
    </script>
  </body>
</html>
