.headerBack {
    width: 100%;
    height: 13vh;
    background-color: #b5292d;
  }
  .header {
    width: 98vw;
    height: 13vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .title {
    width: 70vw;
  }
  .back {
    width: 15vw;
    text-align: center;
  }
  .clickEffict:active {
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
  }