<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/default.css" />
    <!-- 导入样式 -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <!-- 导入 Vue 3 -->
    <script src="//unpkg.com/vue@next"></script>
    <!-- 导入组件库 -->
    <script src="//unpkg.com/element-plus"></script>
    <script src="../js/axios.js"></script>
    <style>
      .contents {
        width: 1300px;
        height: 580px;
        margin: 2% auto 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .block {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- header -->
      <div class="headerBack">
        <div class="header">
          <div class="title">
            <img :src="titleImageUrl" style="width: 80%" />
          </div>
          <div class="back clickEffict" @click="back"></div>
        </div>
      </div>
      <!-- 画册区 -->
      <div class="contents">
        <div
          style="width: 320px; height: 280px;"
          v-for="(item,index) in media.slice((currentPage-1)*pagesize,currentPage*pagesize)" :key="index"
        >
          <a :href="item.url" target='_blank'><img style="width: 320px; height: 260px;" :src="item.url" v-if="item.type === 'image' "/></a>
          <video
            v-if="item.type === 'video' "
            :src="item.url"
            style="width: 100%;height: 82%;"
            controls
          ></video>
        </div>
      </div>
      <div class="block">
        <el-pagination
          layout="prev, pager, next"
          :total="media.length"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        >
        </el-pagination>
      </div>
    </div>
    <script type="module">
      import { baseUrl } from "../js/config.js";
      let lang = sessionStorage.getItem("lang");
      const App = {
        data() {
          return {
            media: [],
            currentPage: 1,
            pagesize: 8,
            title: "",
            mainTitle: "",
            subTitle: "",
            titleImageUrl: "",
          };
        },
        created() {
          this.getData();
        },
        methods: {
          getData() {
            axios
              .get(baseUrl + "activity.php?action=getPartyContent")
              .then((res) => {
                this.title = res.data[lang].title;
                this.mainTitle = res.data[lang].mainTitle;
                this.subTitle = res.data[lang].subTitle;
                this.titleImageUrl = res.data.titleImageUrl;
                this.media = res.data.media;
                document.title = this.title;
              });
          },
          back() {
            window.history.back();
          },
          handleSizeChange(val) {
            this.pagesize = val;
          },
          handleCurrentChange(val) {
            this.currentPage = val;
          },
        },
      };
      const app = Vue.createApp(App);
      app.use(ElementPlus);
      app.mount("#app");
    </script>
  </body>
</html>
