<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <link rel="stylesheet" href="../css/default.css" />
  <link rel="stylesheet" href="../css/park.css" />
  <!-- 导入样式 -->
  <link rel="stylesheet" href="../css/element.css" />
  <!-- 导入 Vue 3 -->
  <script src="../js/Vue.js"></script>
  <!-- 导入组件库 -->
  <script src="../js/elementUI.js"></script>
  <script src="../js/axios.js"></script>
</head>

<body>
  <div id="app" v-cloak>
    <!-- header -->
    <div class="headerBack">
      
      <img :src="titleImageUrl" style="width: 100%;">
    </div>
    <!-- 画册区 -->
    <div class="contents">
      <div style=" width: 1280px;">
        <img src="../img/1.png" style="width: 33%;">
      <img src="../img/2.png" style="width: 33%;">
      <img src="../img/3.png" style="width: 33%;">
      </div>
      <div class="TitleFather">
        <div class="itemTitle" v-for="(item, index) in schoolList" :key="index">
          <div  style=" text-align: center;" ref="ImgWord"   @click="test(item.schoolId, index)">{{item.schoolName}}</div>
        </div>
      </div>
      <div class="itemCount" v-for="(item,index,id) in media" :key="id">
        <!-- 画册标题 -->
      
        <!-- 画册图片 -->
        <div v-if="item.type === 'image' " style="width: 300px; height: 170px; overflow: hidden">
          <div class="demo-image__preview">
            <el-image
              style="width: 100%;"
              :src="item.url"
              :preview-src-list="ImagList"
              fit="cover"
            />
          </div>
        </div>
        <!-- 画册视频 -->
        <div v-if="item.type === 'video' ">
          <a :href="item.url" target="_blank">
            <div class="iconfont">
              <svg t="1643185229733" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                p-id="2212" width="64" height="64">
                <path
                  d="M128 138.666667c0-47.232 33.322667-66.666667 74.176-43.562667l663.146667 374.954667c40.96 23.168 40.853333 60.8 0 83.882666L202.176 928.896C161.216 952.064 128 932.565333 128 885.333333v-746.666666z"
                  fill="#3D3D3D" p-id="2213"></path>
              </svg>
            </div>

            <video :src="item.url" style="width: 100%;" class="videoFather"></video>
          </a>
        </div>
        <!-- 点赞 -->
        <div class="agree" style="display: none;">
          <img :id="item.id" style="width: 20px; height: 20px; cursor: pointer;" @click="zan($event)"
            :src="item.clickSrc" />
          &nbsp;
          <div :id="item.clickId">{{item.likeNum}}</div>
        </div>
      </div>
    </div>
  
  </div>
  <script type="module">
    import { baseUrl, ifJumpTo, maxClickTimesInOneDay, maxClickTimesMsg } from "../js/config.js";
    let lang = sessionStorage.getItem("lang");
    if (lang == null || lang == "null") {
      lang = "zh";
    }
    const App = {
      data() {
        return {
          media: [],
          currentPage: 1,
          pageSize: 1000,
          totalCount: 0,
          mainTitle: "",
          subTitle: "",
          titleImageUrl: "",
          mediaTotalPage: 0,
          // 预览照片数组
          ImagList:[],
          schoolList:[]
        };
      },

      created() {
        this.getData();
        this.getData1()
        ifJumpTo(window.location.pathname + window.location.search);
       
      },
      mounted() {
        
      },
      methods: {
        getData(schoolId) {
          if (schoolId == '' || schoolId == undefined) {
            schoolId = 1
          }
          
          let url =
            baseUrl +
            "activity.php?action=getParkContent&pageSize=1000&currentPage=1&schoolId="+schoolId;
          axios.get(url).then((res) => {
            this.totalCount = res.data.mediaTotalCount;
            document.title = res.data[lang].title;
            this.mainTitle = res.data[lang].mainTitle;
            this.subTitle = res.data[lang].subTitle;
            this.titleImageUrl = res.data.pc.titleImageUrl;
            this.mediaTotalPage = res.data.mediaTotalPage;
            let media = res.data.media;
            for (const i in media) {
              
                const ImgUrl = media[i].url
                this.ImagList.push(ImgUrl)
             
            }
            let now = new Date();
            let today =
              now.getFullYear() +
              "-" +
              (now.getMonth() + 1) +
              "-" +
              now.getDate();

            for (let i = 0; i < media.length; i++) {
              let clickedTimesToday = localStorage.getItem("media_" + media[i].id + "_" + today);
              if (clickedTimesToday == null) {
                media[i].clickSrc = "../img/zan.svg";
              } else if (parseInt(clickedTimesToday) != NaN) {
                media[i].clickSrc = "../img/zanClicked.svg";
              } else {
                media[i].clickSrc = "../img/zan.svg";
              }
              media[i].clickId = "click_" + media[i].id;
            }
            this.media = media;
          });
        },
        getData1(){
          let url = "http://2022.scxhlz.com/api/activity.php?action=getSchools"
          axios.get(url).then((res) =>{
              this.schoolList = res.data.data;
          })
          
        },
        test(schoolId,index){
          this.getData(schoolId)
          const ImgWord =  this.$refs.ImgWord
          for (let i = 0; i < ImgWord.length; i++) {
             ImgWord[i].style.color = "grey"
             ImgWord[i].style.fontSize = "20px"
            
          }
          ImgWord[index].style.color =' white';
          ImgWord[index].style.fontSize ='24px';
        },
        zan(e) {
          let now = new Date();
          let today =
            now.getFullYear() +
            "-" +
            (now.getMonth() + 1) +
            "-" +
            now.getDate();
          let mediaId = e.srcElement.id;
          let clickedTimesToday = localStorage.getItem("media_" + mediaId + "_" + today);
          if (clickedTimesToday == null || parseInt(clickedTimesToday) == NaN) {
            localStorage.setItem("media_" + mediaId + "_" + today, 1);
          } else if (parseInt(clickedTimesToday) >= maxClickTimesInOneDay) {
            alert(maxClickTimesMsg);
            return;
          } else {
            clickedTimesToday++;
            localStorage.setItem("media_" + mediaId + "_" + today, clickedTimesToday);
          }
          let url = baseUrl + "media.php";
          let data = {
            action: "clickLike",
            mediaId: e.srcElement.id,
          };
          axios.post(url, data).then((res) => {
            document.querySelector("#click_" + e.srcElement.id).innerHTML =
              res.data.likeNum;

            let media = this.media;
            for (let i = 0; i < media.length; i++) {
              let clickedTimesToday = localStorage.getItem("media_" + media[i].id + "_" + today);
              if (clickedTimesToday == null) {
                media[i].clickSrc = "../img/zan.svg";
              } else if (parseInt(clickedTimesToday) != NaN) {
                media[i].clickSrc = "../img/zanClicked.svg";
              } else {
                media[i].clickSrc = "../img/zan.svg";
              }
              media[i].clickId = "click_" + media[i].id;
              if (e.srcElement.id == media[i].id) {
                media[i].likeNum = res.data.likeNum;
              }
            }
            this.media = media;
          });
          e.srcElement.src = "../img/zanClicked.svg";
        }
      },
    };

    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
  </script>
</body>

</html>