<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title v-cloak></title>
  <link rel="stylesheet" href="./css/default.css" />
  <link rel="stylesheet" href="./css/index.css">
  <!-- 导入样式 -->
  <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?3f40707267fd65a8cbdb87e0047a0e6d";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <!-- 导入 Vue 3 -->
  <script src="//unpkg.com/vue@next"></script>
  <!-- 导入组件库 -->
  <script src="//unpkg.com/element-plus"></script>
  <script src="./js/axios.js"></script>
</head>

<body>
  <div id="app" v-cloak>
    <img class="app" :src="backgroundImageUrl" />
    <div :style="{background:'url('+ backgroundImageUrl +')'}"></div>
    <!-- header -->
    <div class="header">
      <div class="title">
        <img :src="titleImageUrl" style="width: 80%" />
      </div>
      <div>
        <el-dropdown size="large" @command="handleCommand">
          <el-button type="danger">
            {{changeLanguage}} &nbsp;
            <svg t="1641818630955" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
              p-id="2112" width="16" height="16">
              <path
                d="M966.4 323.2c-9.6-9.6-25.6-9.6-35.2 0l-416 416-425.6-416c-9.6-9.6-25.6-9.6-35.2 0-9.6 9.6-9.6 25.6 0 35.2l441.6 432c9.6 9.6 25.6 9.6 35.2 0l435.2-432C976 345.6 976 332.8 966.4 323.2z"
                p-id="2113" fill="#ffffff"></path>
            </svg>
          </el-button>
          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item v-for="(item,key) in language" :command="key">
                {{item}}
              </el-dropdown-item>
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </div>
    </div>
    <!-- 内容区 -->
    <div class="contents">
      <ul class="list">
        <div class="button1">
          <img class="buttonImg clickEffict" :src="button1.imageUrl" @click="jumpUrl(button1.jumpToUrl)" />
        </div>
        <li v-for="item in DataPc.activity">
          <img class="buttonList clickEffict" :src="item.imageUrl" @click="jumpUrl(item.jumpToUrl)" />
        </li>
      </ul>
    </div>
    <!-- footer -->
    <div class="footer">
      <div class="organizer">
        <p>{{sponsor_china}}</p>
        <p>{{sponsor_overseas}}</p>
        <p>{{organizer}}</p>
      </div>
    </div>
  </div>
  <script type="module">
    import { baseUrl } from "./js/config.js";
    const App = {
      data() {
        return {
          Data:'',
          DataPc: "",
          language:'',
          sponsor_china: "",
          sponsor_overseas: "",
          organizer: "",
          title: "",
          changeLanguage: "",
          titleImageUrl: "",
          backgroundImageUrl: "",
          button1: "",
        };
      },
      created() {
        this.getData();
      },
      methods: {
        getData() {
          axios
            .get(baseUrl + "index.php?action=getIndexContent")
            .then((res) => {
              this.language = res.data.language
              this.DataPc = res.data.pc;
              this.titleImageUrl = res.data.pc.titleImageUrl;
              this.backgroundImageUrl = res.data.pc.backgroundImageUrl;
              this.button1 = res.data.pc.button;
              this.Data = res.data;
              let lang = sessionStorage.getItem("lang");
              if (lang == null) {
                lang = "zh";
              }
              this.handleCommand(lang);
            });
        },
        jumpUrl(url) {
          window.open(url);
        },
        handleCommand(lang) {
          sessionStorage.setItem("lang", lang);
          this.sponsor_china = this.Data[lang].sponsor_china;
          this.sponsor_overseas = this.Data[lang].sponsor_overseas;
          this.organizer = this.Data[lang].organizer;
          this.title = this.Data[lang].mainTitle;
          document.title = this.Data[lang].title;
          this.changeLanguage = this.language[lang];
        },
      },
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
  </script>
</body>

</html>